<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Titan Core Injector" 
        android:supportsRtl="true"
        android:theme="@style/Theme.TCI.Console"> 

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".InjectionService" /> 
        <activity android:name=".MainMenuActivity" android:theme="@style/Theme.TCI.FloatingModule"/>
        <activity android:name=".MemorySearchActivity" />
        <activity android:name=".ScriptExecutorActivity" />
    </application>
</manifest>
