name: Gradle Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check files in repo root
        run: |
          pwd
          ls -la

      - name: Check gradlew details
        run: |
          file ./gradlew
          head -1 ./gradlew | cat -v
          ls -l ./gradlew

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Give gradlew permission
        run: chmod +x ./gradlew

      - name: Build project with Gradle
        run: ./gradlew build --stacktrace --info

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/libs/